{% extends 'base.html.twig' %}

{% block body %}
<!-- As a link -->
<!-- As a heading -->

<div class="row">
    <div class="col-2 h-100">
        <h4>Filtres</h4>

        <form id="filtersForm" x-ref="filters" x-data="{
            distance: {{filters.distance|default(null)|json_encode}}, 
            type: {{filters.type|default([])|json_encode}},
            region: {{filters.region|default([])|json_encode}},
            departement: {{filters.departement|default([])|json_encode}},
            ville: {{filters.ville|default([])|json_encode}},
            position: {{filters.position|default()|json_encode}}
        }" @change.debounce.1000ms="$refs.filters.submit();" @submit="$dispatch('search', $data)">

            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" class="form-control" x-ref="position" id="position" name="position" x-model="position">
              <a class="form-text" @click="navigator.geolocation.getCurrentPosition(position => $refs.position.value = position.coords.latitude + ',' + position.coords.longitude)">Positionnement automatique</a>
            </div>

            <div class="mb-3">
              <label for="distance" class="form-label">Distance</label>
              <input type="number" class="form-control" id="distance" name="distance" x-model="distance">
            </div>

            <div class="mb-3">
                <span class='fw-bold'>Carburant</span>
                {% for type, count in availableFilters.types %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ type }}" id="{{ type }}" name="type[]" x-model="type">
                      <label class="form-check-label" for="{{ type }}">
                        {{ type }} <span class="badge text-bg-light">{{count}}</span>
                      </label>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <span class='fw-bold'>Régions</span>
                {% for type, count in availableFilters.regions %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ type }}" id="{{ type }}" name="region[]" x-model="region">
                      <label class="form-check-label" for="{{ type }}">
                        {{ type }} <span class="badge text-bg-light">{{count}}</span>
                      </label>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <span class='fw-bold'>Départements</span>
                {% for type, count in availableFilters.departements %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ type }}" id="{{ type }}" name="departement[]" x-model="departement">
                      <label class="form-check-label" for="{{ type }}">
                        {{ type }} <span class="badge text-bg-light">{{count}}</span>
                      </label>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-3" x-data="{villes: []}">
                <span class='fw-bold'>Villes</span>

                <input class="form-control" x-ref="villeAutocomplete" type="text" autocomplete="off" @change.stop="" @input.debounce="fetch('/autocomplete?q='+$event.target.value).then(data => data.json()).then(data => { villes = data.villes})"/>

                <ul class="list-unstyled">
                    <template x-for="v in villes" :key="v">
                        <li x-text="v" @click="ville.push($event.target.innerText); villes=[]; $refs.villeAutocomplete.value='';"></li>
                    </template>
                </ul>

                {% for type, count in availableFilters.villes %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ type }}" id="{{ type }}" name="ville[]" x-model="ville" @change="console.log($event)">
                      <label class="form-check-label" for="{{ type }}">
                        {{ type }} <span class="badge text-bg-light">{{count}}</span>
                      </label>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Filtrer</button>
        </form>
    </div>

    <div class="col h-100">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <span class="float-end fs-2">{{availableFilters.prix['5.0']|format_currency('EUR', locale = 'fr')}}</span>
                        <h5 class="card-title">Super prix 🎉</h5>
                        <h6 class="card-subtile text-muted" style="font-size: 0.75rem">5<sup>ème</sup> percentile</h6>
                        
                    </div>
                </div>
            </div>
                    
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <span class="float-end fs-2">{{availableFilters.prix['50.0']|format_currency('EUR', locale = 'fr')}}</span>
                        <h5 class="card-title">Prix médian</h5>
                        <h6 class="card-subtile text-muted" style="font-size: 0.75rem">50<sup>ème</sup> percentile</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <span class="float-end fs-2">{{availableFilters.prix['95.0']|format_currency('EUR', locale = 'fr')}}</span>
                        <h5 class="card-title">Prix abusé 😭</h5>
                        <h6 class="card-subtile text-muted" style="font-size: 0.75rem">95<sup>ème</sup> percentile</h6>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="w-100 position-relative" style="height: 80vh"></div>
    </div>
    
    <div class="col-2 h-100">
        <h4>Résultats <span class="badge text-bg-light">{{ count }}</span></h4>

        {% for result in results %}
            <div class="card mb-1">
                <div class="card-body p-2 py-1">
                    <div class="float-end fs-5 {{ result.class }}">{{ result.prix|format_currency('EUR', locale = 'fr') }}</div>
                    <h5 class="card-title fs-6 fw-bold" >{{ result.ville }} 
                        {% if result.distance is defined %}
                        <span class="text-muted" style="font-size: 0.7rem;">{{ result.distance|format_decimal_number({fraction_digit:2}) }} km</span>
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle text-muted fs-6">{{ result.type }}</h6>
                </div>
                <div class="card-footer p-1 text-muted" style="font-size: 0.6rem;">
                    {{ result.updated_at }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
